# IBM Data Science Course 9 Week 3 Assignment

**Tennyson Wu**

**STEP 1 :** Import all libraries that are used for this assignment

In [26]:
# Import Libraries
import pandas as pd
import numpy as np

**STEP 2 :** Scrape data from wiki page

In [18]:
# Read data
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

**STEP 3 :** Clean and process data

In [33]:
# Rename dataframe columns
df = df.rename(columns = {"Postal Code": "PostalCode", "Neighbourhood": "Neighborhood"})


# Drop rows where Boroughs were not assigned
df = df[df.Borough != "Not assigned"]

# Merge rows with same postal code
df = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()
df

# Replace unassigned neighborhoods with their respective boroughs
print("Number of neighborhoods not assigned:", len(df[df['Neighborhood'] == 'Not assigned']))
# NOTE: We were asked to convert Neighborhood data where it showed "Not assigned" to the name of the corresponding borough. 
# NOTE: The check above shows that after the previous data preprocessing steps, this was no longer needed.

df

Number of neighborhoods not assigned: 0

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [35]:
# Display the shape of the dataframe
print("The shape is the dataframe is:", df.shape)

The shape is the dataframe is: (103, 3)